.mfv-27 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/0/pulsarlogo_main.png);
}
.mfv-27.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/1/pulsarlogo_main_hover.png);
}
/* .mf-1-14 */
.mfv-27.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/8/pulsarlogo_main_select.png);
}
.mfv-27.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/0/pulsarlogo_main-1.png);
}
.mfv-27-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-28 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/f/atn_logo1-1.png);
}
.mfv-28.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/1/atn_logo1hover.png);
}
/* .mf-1-14 */
.mfv-28.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/c/atn_logo1active-2.png);
}
.mfv-28.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/f/atn_logo1-1.png);
}
.mfv-28-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-38 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/9/flir_logo-1.png);
}
.mfv-38.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/e/flir_logo_hover-1.png);
}
/* .mf-1-14 */
.mfv-38.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/b/flir_logo_select.png);
}
.mfv-38.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/9/flir_logo-1.png);
}
.mfv-38-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-82 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/0/l3-1.png);
}
.mfv-82.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/a/l3_hover.png);
}
/* .mf-1-14 */
.mfv-82.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/5/l3_bighover-1.png);
}
.mfv-82.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/0/l3-1.png);
}
.mfv-82-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-91 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/3/l3eotechlogo_main.png);
}
.mfv-91.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/d/l3eotechlogo_main-500x500_hover.png);
}
/* .mf-1-14 */
.mfv-91.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/c/l3eotechlogo_main_select-1.png);
}
.mfv-91.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/3/l3eotechlogo_main-2.png);
}
.mfv-91-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-92 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/8/sightmarklogo_altlogo-500x500.png);
}
.mfv-92.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/8/sightmarklogo_altlogo-500x500_hover.png);
}
/* .mf-1-14 */
.mfv-92.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/5/sightmarklogo_altlogo-500x500_select.png);
}
.mfv-92.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/8/sightmarklogo_altlogo-500x500-1.png);
}
.mfv-92-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-93 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mfv-93-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-94 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/d/yukonlogo_main-1.png);
}
.mfv-94.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/d/yukonlogo_main_hover.png);
}
/* .mf-1-14 */
.mfv-94.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/0/_select.png);
}
.mfv-94.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/d/yukonlogo_main-6.png);
}
.mfv-94-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-110 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/1/moro-1.png);
}
.mfv-110.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/8/moro_hover.png);
}
/* .mf-1-14 */
.mfv-110.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/c/moro_select-1.png);
}
.mfv-110.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/1/moro-2.png);
}
.mfv-110-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-114 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/b/itt.png);
}
.mfv-114.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/2/itt_hover.png);
}
/* .mf-1-14 */
.mfv-114.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/3/itt_select.png);
}
.mfv-114.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/b/itt-1.png);
}
.mfv-114-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-120 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/e/bushnell.png);
}
.mfv-120.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/2/bushnell_select.png);
}
/* .mf-1-14 */
.mfv-120.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/7/busnell_hover.png);
}
.mfv-120.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/e/bushnell-1.png);
}
.mfv-120-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-121 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/1/nou.png);
}
.mfv-121.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/5/nou_hover.png);
}
/* .mf-1-14 */
.mfv-121.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/a/nou_select.png);
}
.mfv-121.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/1/nou-1.png);
}
.mfv-121-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-143 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/c/firefield-1.png);
}
.mfv-143.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/4/fiefield_select.png);
}
/* .mf-1-14 */
.mfv-143.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/d/firefield_hover.png);
}
.mfv-143.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/c/firefield-2.png);
}
.mfv-143-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-146 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/5/armasight.png);
}
.mfv-146.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/a/armasight_select-1.png);
}
/* .mf-1-14 */
.mfv-146.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/6/armasight_hover-1.png);
}
.mfv-146.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/5/armasight-1.png);
}
.mfv-146-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-161 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/7/leupold.jpg);
}
.mfv-161.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/6/leupold_hover.jpg);
}
/* .mf-1-14 */
.mfv-161.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/c/leupold_select.jpg);
}
.mfv-161.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/7/leupold-1.jpg);
}
.mfv-161-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-162 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/e/burris.jpg);
}
.mfv-162.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/b/burris_hover.jpg);
}
/* .mf-1-14 */
.mfv-162.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/f/burris_select.jpg);
}
.mfv-162.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/e/burris-1.jpg);
}
.mfv-162-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-163 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/b/nikon.jpg);
}
.mfv-163.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/c/nikon_hover.jpg);
}
/* .mf-1-14 */
.mfv-163.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/7/nikon_select.jpg);
}
.mfv-163.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/b/nikon-1.jpg);
}
.mfv-163-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-164 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/d/trijicon.jpg);
}
.mfv-164.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/3/sightron_hover-1.jpg);
}
/* .mf-1-14 */
.mfv-164.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/0/trijicon_select.jpg);
}
.mfv-164.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/d/trijicon-1.jpg);
}
.mfv-164-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-165 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/5/sightron.jpg);
}
.mfv-165.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/3/sightron_hover.jpg);
}
/* .mf-1-14 */
.mfv-165.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/6/sightron_select.jpg);
}
.mfv-165.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/5/sightron-1.jpg);
}
.mfv-165-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-230 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/f/carlzeiss.png);
}
.mfv-230.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/d/carlzeiss_select.png);
}
/* .mf-1-14 */
.mfv-230.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/b/carlzeiss_hover.png);
}
.mfv-230.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/f/carlzeiss-1.png);
}
.mfv-230-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-231 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/8/bsa.png);
}
.mfv-231.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/6/bsa_hover.png);
}
/* .mf-1-14 */
.mfv-231.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/6/bsa_select.png);
}
.mfv-231.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/8/bsa-1.png);
}
.mfv-231-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-232 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/8/barska_logo.png);
}
.mfv-232.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/d/barska_select.png);
}
/* .mf-1-14 */
.mfv-232.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/1/barska_hover.png);
}
.mfv-232.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/8/barska_logo-1.png);
}
.mfv-232-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-318 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/b/us.jpg);
}
.mfv-318.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/e/us_select.jpg);
}
/* .mf-1-14 */
.mfv-318.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/b/us_hover.jpg);
}
.mfv-318.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/b/us-1.jpg);
}
.mfv-318-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-319 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/6/simmons.jpg);
}
.mfv-319.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/6/simmons_select.jpg);
}
/* .mf-1-14 */
.mfv-319.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/8/simmons_hover.jpg);
}
.mfv-319.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/6/simmons-1.jpg);
}
.mfv-319-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-323 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/6/red.jpg);
}
.mfv-323.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/8/5/red_select.jpg);
}
/* .mf-1-14 */
.mfv-323.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/9/red_hover.jpg);
}
.mfv-323.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/6/red-1.jpg);
}
.mfv-323-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-324 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/4/weaver.jpg);
}
.mfv-324.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/a/d/weaver_hover.jpg);
}
/* .mf-1-14 */
.mfv-324.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/6/weaver_select.jpg);
}
.mfv-324.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/4/weaver-1.jpg);
}
.mfv-324-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-331 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/7/minopx.png);
}
.mfv-331.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/c/minox_select.png);
}
/* .mf-1-14 */
.mfv-331.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/5/minox_hover.png);
}
.mfv-331.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/7/minopx-1.png);
}
.mfv-331-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-334 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/a/gene.png);
}
.mfv-334.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/0/gene_hover.png);
}
/* .mf-1-14 */
.mfv-334.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/b/gene_select.png);
}
.mfv-334.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/a/gene-1.png);
}
.mfv-334-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-340 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/9/sunoptics.png);
}
.mfv-340.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/7/sunoptics_hover.png);
}
/* .mf-1-14 */
.mfv-340.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/2/3/sunoptics_select.png);
}
.mfv-340.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/9/sunoptics-1.png);
}
.mfv-340-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-341 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/6/crimson_trace.png);
}
.mfv-341.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/b/crimson_trace_hover.png);
}
/* .mf-1-14 */
.mfv-341.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/9/crimson_trace_select.png);
}
.mfv-341.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/b/6/crimson_trace-1.png);
}
.mfv-341-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-342 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mfv-342-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-343 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/0/ati.png);
}
.mfv-343.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/4/ati_hover.png);
}
/* .mf-1-14 */
.mfv-343.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/c/ati_select.png);
}
.mfv-343.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/f/0/ati-1.png);
}
.mfv-343-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-344 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/9/maglite.png);
}
.mfv-344.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/1/maglite_hover-1.png);
}
/* .mf-1-14 */
.mfv-344.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/f/maglite_select.png);
}
.mfv-344.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/9/maglite-1.png);
}
.mfv-344-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-345 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/1/streamlight.png);
}
.mfv-345.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/d/a/streamlight_hover.png);
}
/* .mf-1-14 */
.mfv-345.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/6/a/streamlight_select.png);
}
.mfv-345.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/0/1/streamlight-1.png);
}
.mfv-345-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-346 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}
.mfv-346-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-347 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/5/millet.png);
}
.mfv-347.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/e/1/millet_hover.png);
}
/* .mf-1-14 */
.mfv-347.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/7/millet_select.png);
}
.mfv-347.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/1/5/millet-1.png);
}
.mfv-347-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-348 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/d/fnh.jpg);
}
.mfv-348.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/5/4/fnh_select.jpg);
}
/* .mf-1-14 */
.mfv-348.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/c/b/fnh_hover.jpg);
}
.mfv-348.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/7/d/fnh-1.jpg);
}
.mfv-348-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
.mfv-349 {
    width: 35px;
    height: 25px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/f/remington.jpg);
}
.mfv-349.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/9/5/remington_select.jpg);
}
/* .mf-1-14 */
.mfv-349.selected {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/4/9/remington_hover.jpg);
}
.mfv-349.selected.hovered {
    background-image: url(https://d1r913ofpcpbjz.cloudfront.net/media/m-image/3/f/remington-1.jpg);
}
.mfv-349-state {
    width: 43px;
    height: 15px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}
