/**
 * Skin specific styling
 */
 /* =============================================================================
    add to cart
    ========================================================================== */
 .add-to-box .button{
	 float: right;
	 padding: 1px;
 }

.sample-class { color:#000; }
.home-banner-wrapper img{width:100%;}

/* =============================================================================
   Cart Page Cross Sells
   ========================================================================== */
.cart-related-wrapper{ width: 85%;border-bottom: 1px solid #e5e5e5; border-right: 1px solid #e5e5e5; border-left: 1px solid #e5e5e5;}
img.product-image{ float:left;border: 1px solid #e5e5e5;margin: 5px; width: 56px; height: 56px;}
.cart-accessories{margin-left: 3px;}
.cart-accessories li{display: inline-block; width: 260px; border: 1px solid #e5e5e5;margin: 1px;}
.accessory-wrapper .link{position: relative; top:-15px; width: 70%; float: right;}
.cart-related-wrapper h3{background:url(../images/img/block-related-title.png) center 0 repeat-x;
	padding:10px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	color: #fff;
}
.sku h2{font-size: 12px; color: #000;}
.sku h2 span{font-size:14px;}
#group{
	max-height: 325px;
	overflow: scroll;
}
.block-layered-nav dt{
	font-weight: bold;
	padding: 5px 10px 2px;
	color: #222;
	background: #eee;
	text-align: center;
}
.availability.out-of-stock span{
	font-size: 15px;
	position: relative;
	top:-10px;
}
.availability.in-stock span{
	font-size:15px;
	margin: 0px 0px 0px 25px;
}
/* =============================================================================
   Make An Offer Pop-UP
   ========================================================================== */

.modalDialog {
    text-align: center;
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 70%;
	position: relative;
	margin: 1% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: rgba(255,255,255,1);
	height: 90%;
	overflow: scroll;
}
.close {
	line-height: 25px;
	position: absolute;
	right: 5px;
	text-align: center;
	top: 5px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
